@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.card {
  border-radius: 15px;
}

.card-body {
  height: 400px;
}

#simboloArriba {
  justify-content: flex-start;
  margin-top: -20px;
  font-size: 80px;
}

#simboloAbajo {
  justify-content: flex-end;
  margin-top: 15px;
  font-size: 80px;
}

#valorCentro {
  justify-content: center;
  margin-top: 20px;
  font-size: 80px;
}
